.controls input {
  width: 100%;
}

.btns {
  display: flex;
  margin-top: 7px;
  width: 100%;
  justify-content: space-between;
}
.btns button {
  margin-top: 5px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.sbtn {
  background-color: rgba(160, 154, 154, 0.356) !important;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
}
