.theme {
  background: linear-gradient(90deg, rgb(0, 28, 34) 1%, rgba(0, 0, 0, 1) 100%);

  color: white;
}
.spinner {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
